<!-- About Section -->
<section class="success" id="angebot">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Angebot</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <h3>Just do it</h3>
        <p>
          Die ersten Schritte bei der Umsetzung einer Idee sind nie einfach. Gerade bei Neugründungen aber auch 
          bei bereits lange etablierten Unternehmen ist es oft schwierig den nächsten Schritt zu wagen. Ich kenne die
          Hürden und stehe Dir als Ansprechpartner zur Seite, vom Konzept bis zur Umsetzung.
          </p>
      </div>
      <div class="col-lg-4">
        <h3>Innovation is key</h3>
        <p>
          Dank meiner umfangreichen Ausbildung in Betriebswirtschaft, IT und Design bringe ich eine starke 
          Kombination an Fähigkeiten mit, welche ich in jedes Projekt miteinbringen kann. Dadurch kann ich komplexe Zusammenhänge reduzieren und
          innovative Lösungen bieten.</p>
      </div>
      <div class="col-lg-4">
        <h3>Less is more</h3>
        <p>
          Die Menschen ersticken gerade zu im Dickicht der Informationen. Anstatt noch einen drauf zu setzen, gehe ich bewusst einen anderen Weg.
          Ich bringe die Informationen auf den Punkt und symbolisiere mit meinen Gestaltungen Ruhe, Nachhaltigkeit und Emotion.</p>
      </div>
    </div>
    <div class="row offer-hero">
      <div class="col-md-3 col-lg-offset-3">
        <p><i class="fa fa-pager fa-3x"></i></p>
        <h3>Webauftritt</h3>
      </div>
      <div class="col-md-3">
        <p><i class="fa fa-palette fa-3x"></i></p>
        <h3>Grafikdesign</h3>
      </div>
      <div class="col-md-3 col-lg-offset-3">
        <p><i class="fa fa-cubes fa-3x"></i></p>
        <h3>3D Visualisierungen</h3>
      </div>
      <div class="col-md-3">
        <p><i class="fa fa-camera-retro fa-3x"></i></p>
        <h3>Fotografie und Video</h3>
      </div>
    </div>
  </div>
</section>
