<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img class="about-img wow bounceIn" src="/img/pp.jpg" data-wow-delay=".1s" alt="Hundefriseurin Adelsberger Barbara">
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Hallo ich bin Babsi!</h2>
                <hr class="light">
                <p class="text-faded">Ob Langharrschnitt oder Kurzhaarschnitt, ich habe den besten Service für ihren kleinen Begleiter. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Kontakt</a>
            </div>
        </div>
    </div>
</section>
