<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Ihr Hundefriseur Salon in Kirchdorf in Tirol!</h1>
            <hr style="border-color: #fff;">
            <p>Der Friseur für ihren liebsten Vierbeiner - Haare oder Nägel schneiden? Kein Problem! Ich helfe Ihnen mit jeglichen Haustier Pflegebedürfniss, ganz nach Ihren Vorstellungen. </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Über mich</a>
        </div>
    </div>
</header>
