<header>
    <div class="header-content">
        <div class="header-content-inner">
            <i class="fa fa-4x fa-dog wow bounceIn text-primary" data-wow-delay=".1s"></i>
            <h1>Hundefriseur Adelsberger</h1>
            <hr style="border-color: #fff;">
            <p>Der Friseur für ihren liebsten Vierbeiner - Haare oder Nägel schneiden? Kein Problem! Ich helfe Ihnen mit jeglichen Haustier Pflegebedürniss, ganz nach Ihren Vorstellungen. </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Über mich</a>
        </div>
    </div>
</header>
