<section id="kontakt">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Kontakt und Anfahrt</h2>
                <hr class="primary">

                <p>Termin nach telefonischer Vereinbarung</p>
                <p>Falls ich am Hund stehe rufe ich Sie zurück</p>

            </div>

            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img style="margin-bottom: 4rem; max-width: 300px;" src="img/logo-full.png" />
            </div>

            <div class="col-lg-4 text-center">
                <a href="https://www.google.com/maps/place/Unterm+Rain+1,+6382+Kirchdorf+in+Tirol">
                    <i class="fa fa-map-marker fa-4x wow bounceIn text-secondary" data-wow-delay=".1s"></i>
                    <p>{{ site.adress }}</p>
                </a>         
            </div>
            
            <div class="col-lg-4 text-center">
                <a href="tel:{{ site.telephone }}">
                    <i class="fa fa-phone fa-4x wow bounceIn text-secondary" data-wow-delay=".1s"></i>
                    <p>{{ site.telephone }}</p>
                </a>
            </div>

            <div class="col-lg-4 text-center">
                <a href="mailto:{{ site.email }}">
                <i class="fa fa-envelope-o fa-4x wow bounceIn text-secondary" data-wow-delay=".1s"></i>
                    <p>{{ site.email }}</p>
                </a>
            </div>

        </div>
    </div>
</section>
