<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Mein Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-scissors wow bounceIn text-primary"></i>
                    <h3>Beste Ausrüstung</h3>
                    <p class="text-muted">Ich verwende nur Qualitativ hochwertiges Werkzeug und achte auf die nötige Hygiene.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-recycle wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Umweltfreundliche Produkte</h3>
                    <p class="text-muted">Tut ihrem Liebsten gut und der Umwelt!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-calendar wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Schneller Termin</h3>
                    <p class="text-muted">Bekommen sie einen Termin in nur wenigen Tagen.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Mit Liebe zum Tier</h3>
                    <p class="text-muted">Ich bin Tierliebhaberin und werde ihr Haustier größter Sorgfalt und mit viel Zuneigung behandeln!</p>
                </div>
            </div>
        </div>
    </div>
</section>
