<section class="bg-primary" id="uebermich">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img class="about-img" src="/img/adelsberger-barbara.jpg" alt="Hundefriseurin Adelsberger Barbara">
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Über mich</h2>
                <hr class="light">
                <p class="text-faded">
                    Meist höre ich auf den Namen Barbara, bin 32 Jahre alt, Mutter und verheiratet.
                </p>
                <p class="text-faded">
                    Meine Wurzel stecken im menschlichen Friseurwesen, wo ich 5 Jahre verweilte. Als Quereinsteigerin war ich die letzten 10 Jahre in der Kleinkinder Betreuung tätig. Seit Mai 2022 mit abgeschlossener Hundefriseurausbildung bin ich selbstständig und mit jedem Tag glücklich und erfüllt am Hund stehen zu dürfen und zu können.
                </p>
                <p class="text-faded">
                    Ein großer Dank an meinen Mann und meine Familie, die mir das alles ermöglicht haben.
                </p>
                <p class="text-faded">
                    Danke.
                </p>
                <a href="tel:{{ site.telephone }}" class="btn btn-default btn-xl page-scroll">Kontakt</a>
            </div>
        </div>
    </div>
</section>
