<!DOCTYPE html>
<html lang="de">

{% include head.html %}

<body id="page-top">

  {% include nav.html %}

  <div class="additional-content-pre"></div>
  
  <div style="min-height: 120vh;" class="additional-content-main">
    <h1>Impressum</h1>
    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>Max Mustermann<br />
    Musterstra&szlig;e 111<br />
    Geb&auml;ude 44<br />
    90210 Musterstadt</p>

    <h2>Kontakt</h2>
    <p>Telefon: +49 (0) 123 44 55 66<br />
    Telefax: +49 (0) 123 44 55 99<br />
    E-Mail: mustermann@musterfirma.de</p>

    <h2>EU-Streitschlichtung</h2>
    <p>Die Europ&auml;ische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="noopener noreferrer">https://ec.europa.eu/consumers/odr/</a>.<br /> Unsere E-Mail-Adresse finden Sie oben im Impressum.</p>

    <h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
    <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>

    <p>Quelle: e-recht24.de</p>
  </div>

  {% include footer.html %}
  {% include scripts.html %}

</body>

</html>